<div id="bn-activation" data-max = "<%= asset_path 'bottle_simple.glb' %>"
  data-px = "<%= asset_path 'px.png' %>"
  data-nx = "<%= asset_path 'nx.png' %>"
  data-py = "<%= asset_path 'py.png' %>"
  data-ny = "<%= asset_path 'ny.png' %>"
  data-pz = "<%= asset_path 'pz.png' %>"
  data-nz = "<%= asset_path 'nz.png' %>"
  >
  x :
  <br>
  y :
  <br>
  z :
</div>
